<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sb-admin-2.min.css">
    <script src="https://apps-static.flock.co/js-sdk/0.1.0/flock.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://apps-static.flock.co/js-sdk/0.1.0/flock.js"></script>
<body>
<div id="pending">
    <h5 style="padding-left: 15px">Group/Chat Context</h5>
    <!--{{#candidates}}-->
    <div class="col-lg-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                {{name}}
            </div>
            <div class="panel-body">
                <p>
                    Email: {{email}} <br/>
                    Resume: {{cvLink}} <br/>
                    Role: {{role}} <br/>
                </p>
            </div>
            <div class="panel-footer">
                Recruiter: {{creatorName}}
            </div>
        </div>
    </div>
    <!--{{/candidates}}-->
</div>
</body>
</html>